body {
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial;
}

h1 {
    text-align: center;
}

@size: 612px;
@tiles: 4;

@pos1: 0;
@pos2: 1 * (@size / @tiles);
@pos3: 2 * (@size / @tiles);
@pos4: 3 * (@size / @tiles);

.puzzle {
    width: @size;
    height: @size;
    margin: 0 auto;
    position: relative;
}

.tile {
    position: absolute;
    width: @size / @tiles;
    height: @size / @tiles;
    transition-property: left, top;
    transition-duration: 0.1s;

}

.tile-content {
    /* background-image: url('placekitten.jpeg'); */
    /* background-image: url('placepuppy.jpeg'); */
    /* background-image: url('fillmurray.jpeg'); */
    background-image: url('nicenicejpg.jpeg');
    /* background-image: url('baconmockup.jpeg'); */
    border-radius: 6px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.6), inset -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 3px rgba(0,0,0,0.2);

    text-align: center;
    line-height: @size / @tiles;
    font-size: (@size / @tiles) * 0.75;
    color: rgba(0,0,0,0);
}

.tile-content-shownumber {
    color: rgba(0,0,0,0.10);
    text-shadow: 1px 1px 1px rgba(254,255,255,0.45), -1px -1px 1px rgba(0,0,0,0.05);

    /* needs an additional div for the background to work:
       http://stackoverflow.com/questions/13168142/is-it-possible-to-use-webkit-filter-blur-on-background-image
       -webkit-filter: blur(5px); */
}

.tile-content-0 {
    background-position: -@pos1 -@pos1;
}
.tile-content-1 {
    background-position: -@pos2 -@pos1;
}
.tile-content-2 {
    background-position: -@pos3 -@pos1;
}
.tile-content-3 {
    background-position: -@pos4 -@pos1;
}
.tile-content-4 {
    background-position: -@pos1 -@pos2;
}
.tile-content-5 {
    background-position: -@pos2 -@pos2;
}
.tile-content-6 {
    background-position: -@pos3 -@pos2;
}
.tile-content-7 {
    background-position: -@pos4 -@pos2;
}
.tile-content-8 {
    background-position: -@pos1 -@pos3;
}
.tile-content-9 {
    background-position: -@pos2 -@pos3;
}
.tile-content-10 {
    background-position: -@pos3 -@pos3;
}
.tile-content-11 {
    background-position: -@pos4 -@pos3;
}
.tile-content-12 {
    background-position: -@pos1 -@pos4;
}
.tile-content-13 {
    background-position: -@pos2 -@pos4;
}
.tile-content-14 {
    background-position: -@pos3 -@pos4;
}
.tile-content-empty {
}

.tile-pos-0 {
    left: @pos1;
    top: @pos1;
    z-index: 1;
}
.tile-pos-1 {
    left: @pos2;
    top: @pos1;
    z-index: 2;
}
.tile-pos-2 {
    left: @pos3;
    top: @pos1;
    z-index: 3;
}
.tile-pos-3 {
    left: @pos4;
    top: @pos1;
    z-index: 4;
}
.tile-pos-4 {
    left: @pos1;
    top: @pos2;
    z-index: 5;
}
.tile-pos-5 {
    left: @pos2;
    top: @pos2;
    z-index: 6;
}
.tile-pos-6 {
    left: @pos3;
    top: @pos2;
    z-index: 7;
}
.tile-pos-7 {
    left: @pos4;
    top: @pos2;
    z-index: 8;
}
.tile-pos-8 {
    left: @pos1;
    top: @pos3;
    z-index: 9;
}
.tile-pos-9 {
    left: @pos2;
    top: @pos3;
    z-index: 10;
}
.tile-pos-10 {
    left: @pos3;
    top: @pos3;
    z-index: 11;
}
.tile-pos-11 {
    left: @pos4;
    top: @pos3;
    z-index: 12;
}
.tile-pos-12 {
    left: @pos1;
    top: @pos4;
    z-index: 13;
}
.tile-pos-13 {
    left: @pos2;
    top: @pos4;
    z-index: 14;
}
.tile-pos-14 {
    left: @pos3;
    top: @pos4;
    z-index: 15;
}
.tile-pos-15 {
    left: @pos4;
    top: @pos4;
    z-index: 16;
}
