body {
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial;
}

h1 {
    text-align: center;
}

@size: 612px;
@tiles: 4;

@tile-size: 100% / @tiles;

@pos1: 0 * @tile-size;
@pos2: 1 * @tile-size;
@pos3: 2 * @tile-size;
@pos4: 3 * @tile-size;

@content1: 0 * (100% / (@tiles - 1));
@content2: 1 * (100% / (@tiles - 1));
@content3: 2 * (100% / (@tiles - 1));
@content4: 3 * (100% / (@tiles - 1));

.puzzle {
    max-width: @size;
    max-height: @size;
    margin: 0 auto;
}

.puzzle-content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.tile {
    position: absolute;
    width: @tile-size;
    height: @tile-size;
    -webkit-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;

}

.tile-content {
    /* background-image: url('placekitten.jpeg'); */
    // background-image: url('placepuppy.jpeg');
    background-image: url('fillmurray_1224.jpeg');
    /* background-image: url('nicenicejpg.jpeg'); */
    /* background-image: url('baconmockup.jpeg'); */
    background-size: 100% * @tiles;

    border-radius: 6px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.6), inset -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 3px rgba(0,0,0,0.2);

    text-align: center;
    line-height: @size / @tiles;
    font-size: (@size / @tiles) * 0.75;
    color: rgba(0,0,0,0);
}

.tile-content-shownumber {
    color: rgba(0,0,0,0.10);
    text-shadow: 1px 1px 1px rgba(254,255,255,0.45), -1px -1px 1px rgba(0,0,0,0.05);

    /* needs an additional div for the background to work:
       http://stackoverflow.com/questions/13168142/is-it-possible-to-use-webkit-filter-blur-on-background-image
       -webkit-filter: blur(5px); */
}

.tile-content-0 {
    background-position: @content1 @content1;
}
.tile-content-1 {
    background-position: @content2 @content1;
}
.tile-content-2 {
    background-position: @content3 @content1;
}
.tile-content-3 {
    background-position: @content4 @content1;
}
.tile-content-4 {
    background-position: @content1 @content2;
}
.tile-content-5 {
    background-position: @content2 @content2;
}
.tile-content-6 {
    background-position: @content3 @content2;
}
.tile-content-7 {
    background-position: @content4 @content2;
}
.tile-content-8 {
    background-position: @content1 @content3;
}
.tile-content-9 {
    background-position: @content2 @content3;
}
.tile-content-10 {
    background-position: @content3 @content3;
}
.tile-content-11 {
    background-position: @content4 @content3;
}
.tile-content-12 {
    background-position: @content1 @content4;
}
.tile-content-13 {
    background-position: @content2 @content4;
}
.tile-content-14 {
    background-position: @content3 @content4;
}
.tile-content-empty {
}

.tile-pos-0 {
    left: @pos1;
    top: @pos1;
    z-index: 1;
}
.tile-pos-1 {
    left: @pos2;
    top: @pos1;
    z-index: 2;
}
.tile-pos-2 {
    left: @pos3;
    top: @pos1;
    z-index: 3;
}
.tile-pos-3 {
    left: @pos4;
    top: @pos1;
    z-index: 4;
}
.tile-pos-4 {
    left: @pos1;
    top: @pos2;
    z-index: 5;
}
.tile-pos-5 {
    left: @pos2;
    top: @pos2;
    z-index: 6;
}
.tile-pos-6 {
    left: @pos3;
    top: @pos2;
    z-index: 7;
}
.tile-pos-7 {
    left: @pos4;
    top: @pos2;
    z-index: 8;
}
.tile-pos-8 {
    left: @pos1;
    top: @pos3;
    z-index: 9;
}
.tile-pos-9 {
    left: @pos2;
    top: @pos3;
    z-index: 10;
}
.tile-pos-10 {
    left: @pos3;
    top: @pos3;
    z-index: 11;
}
.tile-pos-11 {
    left: @pos4;
    top: @pos3;
    z-index: 12;
}
.tile-pos-12 {
    left: @pos1;
    top: @pos4;
    z-index: 13;
}
.tile-pos-13 {
    left: @pos2;
    top: @pos4;
    z-index: 14;
}
.tile-pos-14 {
    left: @pos3;
    top: @pos4;
    z-index: 15;
}
.tile-pos-15 {
    left: @pos4;
    top: @pos4;
    z-index: 16;
}
