body {
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@goldenratio: 1.61803398875;
@size: 612px;
@tiles: 4;

@tile-size: 100% / @tiles;

@pos1: 0 * @tile-size;
@pos2: 1 * @tile-size;
@pos3: 2 * @tile-size;
@pos4: 3 * @tile-size;

@content1: 0 * (100% / (@tiles - 1));
@content2: 1 * (100% / (@tiles - 1));
@content3: 2 * (100% / (@tiles - 1));
@content4: 3 * (100% / (@tiles - 1));

.controls {
    float: left;
    max-width: 100% * 1 / (1 + @goldenratio);
    width: 100%;

    @media (max-width: 768px) and (orientation:portrait) {
        clear: both;
        margin-top: 2%;
        max-width: 100%;
    }
}

.controls-container {
    margin: 0 1%;
}

.status {
    height: 72px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: darken(@btn-color, 10%);
    border-radius: 4px;

    @media (max-width: 480px) {
        height: 36px;
    }

    .status-image {
        width: 72px;
        height: 72px;

        margin-right: 8px;
        border-radius: 4px;
        background-size: 100%;
        float: left;

        @media (max-width: 480px) {
            width: 36px;
            height: 36px;
        }
    }

    .status-text {
        color: darken(@btn-color, 40%);
    }
}


@btn-color: #ccddee;

.btn {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 5px;
	background-color: @btn-color;
	border-top: 1px solid lighten(@btn-color, 5%);
    border-right: 1px solid darken(@btn-color, 10%);
	border-bottom: 3px solid darken(@btn-color, 15%);
	border-left: 1px solid darken(@btn-color, 5%);
	border-radius: 4px;
	color: darken(@btn-color, 30%);
	text-shadow: 0px 1px 1px fade(#fff, 50%);
	transition: background-color 0.3s;
    font-size: 18px;
    line-height: 18px;

	&:active {
		margin-top: 4px;
        border: 1px @btn-color;
	}
		
    &:hover {
		background-color: lighten(@btn-color, 5%);
	}
}

.hidden {
    display: none;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fade(darken(@btn-color, 50%), 75%);
    z-index: 100;
}

.popup {
    position: fixed;
    top: 5%;
    bottom: 5%;
    // padding: 5%;
    max-width: @size;
    width: 100%;
    left: 50%;
    margin-left: -(@size / 2);
    border-radius: 4px;
    background-color: @btn-color;
    z-index: 101;

    @media (max-width: @size) {
        left: 5%;
        right: 5%;
        margin: 0;
        width: 90%; // todo: wrong!
    }
}

.popup-container {
    margin: 38px;
    overflow: scroll;

    @media (max-width: @size) {
        margin: 5%;
    }
}

.pictures img {
    border: 1px solid #ccc;
    height: 100px;
    width: 100px;
    margin: 16px;
}

.container {
    clear: both;
    margin: 10px auto;
    max-width: @size * @goldenratio;
}

.puzzle {
    float: left;
    max-width: 100% * (@goldenratio / (1 + @goldenratio));
    width: 100%;

    @media (max-width: 768px) and (orientation:portrait) {
        max-width: 100%;
    }
}

.puzzle-container {
    margin: 0 1%;
}

.puzzle-content {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.tile {
    position: absolute;
    width: @tile-size;
    height: @tile-size;
    -webkit-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    .noselect;
}

.tile-content {
    // background-image: url('placekitten.jpeg');
    // background-image: url('placepuppy.jpeg');
    // background-image: url('fillmurray_1224.jpeg');
    // background-image: url('nicenicejpg.jpeg');
    // background-image: url('baconmockup.jpeg');
    background-size: 100% * @tiles;

    border-radius: 6px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 3px rgba(0,0,0,0.6);

    // text-align: center;
    // line-height: @size / @tiles;
    // font-size: (@size / @tiles) * 0.75;
    // color: rgba(0,0,0,0);
}

// .tile-content-shownumber {
//     color: rgba(0,0,0,0.10);
//     text-shadow: 1px 1px 1px rgba(254,255,255,0.45), -1px -1px 1px rgba(0,0,0,0.05);

//     /* needs an additional div for the background to work:
//        http://stackoverflow.com/questions/13168142/is-it-possible-to-use-webkit-filter-blur-on-background-image
//        -webkit-filter: blur(5px); */
// }

.tile-content-0 {
    background-position: @content1 @content1;
}
.tile-content-1 {
    background-position: @content2 @content1;
}
.tile-content-2 {
    background-position: @content3 @content1;
}
.tile-content-3 {
    background-position: @content4 @content1;
}
.tile-content-4 {
    background-position: @content1 @content2;
}
.tile-content-5 {
    background-position: @content2 @content2;
}
.tile-content-6 {
    background-position: @content3 @content2;
}
.tile-content-7 {
    background-position: @content4 @content2;
}
.tile-content-8 {
    background-position: @content1 @content3;
}
.tile-content-9 {
    background-position: @content2 @content3;
}
.tile-content-10 {
    background-position: @content3 @content3;
}
.tile-content-11 {
    background-position: @content4 @content3;
}
.tile-content-12 {
    background-position: @content1 @content4;
}
.tile-content-13 {
    background-position: @content2 @content4;
}
.tile-content-14 {
    background-position: @content3 @content4;
}
.tile-content-empty {
}

.tile-pos-0 {
    left: @pos1;
    top: @pos1;
    z-index: 1;
}
.tile-pos-1 {
    left: @pos2;
    top: @pos1;
    z-index: 2;
}
.tile-pos-2 {
    left: @pos3;
    top: @pos1;
    z-index: 3;
}
.tile-pos-3 {
    left: @pos4;
    top: @pos1;
    z-index: 4;
}
.tile-pos-4 {
    left: @pos1;
    top: @pos2;
    z-index: 5;
}
.tile-pos-5 {
    left: @pos2;
    top: @pos2;
    z-index: 6;
}
.tile-pos-6 {
    left: @pos3;
    top: @pos2;
    z-index: 7;
}
.tile-pos-7 {
    left: @pos4;
    top: @pos2;
    z-index: 8;
}
.tile-pos-8 {
    left: @pos1;
    top: @pos3;
    z-index: 9;
}
.tile-pos-9 {
    left: @pos2;
    top: @pos3;
    z-index: 10;
}
.tile-pos-10 {
    left: @pos3;
    top: @pos3;
    z-index: 11;
}
.tile-pos-11 {
    left: @pos4;
    top: @pos3;
    z-index: 12;
}
.tile-pos-12 {
    left: @pos1;
    top: @pos4;
    z-index: 13;
}
.tile-pos-13 {
    left: @pos2;
    top: @pos4;
    z-index: 14;
}
.tile-pos-14 {
    left: @pos3;
    top: @pos4;
    z-index: 15;
}
.tile-pos-15 {
    left: @pos4;
    top: @pos4;
    z-index: 16;
}
